<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List Your Property</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>

              <tab heading="Basic Info" formGroupName="BasicInfo">
                <div class="form-group col-12">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup ngModel formControlName="SellRent">
                    <label class="btn btn-outline-primary m-sm-1" tabindex="0" btnRadio="1" role="button"
                      name="SellRent">Sell</label>
                    <label class="btn btn-outline-primary m-sm-1" tabindex="0" btnRadio="2" role="button"
                      name="SellRent">Rent</label>
                  </div>
                  <div class="error-block" *ngIf="SellRent.invalid && (nextClicked || SellRent.touched)">
                    Please Select Sell or Rent.
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup formControlName="BHK" [(ngModel)]="propertyView.BHK">
                    <label *ngFor="let bhk of [1,2,3,4]" class="btn btn-outline-primary m-sm-1" [btnRadio]="bhk"
                      tabindex="0" name="BHK" role="button">{{bhk}}</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup formControlName='PType' [(ngModel)]="propertyView.PType">
                    <label *ngFor="let ptype of propertyType" class="btn btn-outline-primary m-sm-1" [btnRadio]="ptype"
                      tabindex="0" role="button" name="PType">{{ptype}}</label>
                  </div>
                  <div class="error-block" *ngIf="PType.invalid && (nextClicked || PType.touched)">
                    Please Select Property Type
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Furnishing Type</p>
                  <div class="btn-group" btnRadioGroup name="ftype" [(ngModel)]="propertyView.FType"
                    [ngModelOptions]="{standalone:true}">
                    <label *ngFor="let ftype of furnishType" class="btn btn-outline-primary m-sm-1" [btnRadio]="ftype"
                      tabindex="0" role="button" name="FType">{{ftype}}</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="name">Bulding/Society/Project</label>
                  <input type="text" class="form-control" minlength="5" ngModel formControlName="Name"
                    [(ngModel)]="propertyView.Name">
                  <div class="error-block" *ngIf="BuildingName.invalid && (nextClicked || BuildingName.touched)">
                    Please Provide Building/Society Name.
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="City">City</label>
                  <select class="form-control" formControlName="City" [(ngModel)]="propertyView.City">
                    <option value="">--Select City--</option>
                    <option *ngFor="let city of cityList" value="{{city.id}}">{{city.name}}</option>
                  </select>
                  <div class="error-block" *ngIf="City.invalid && (nextClicked || City.touched)">
                    Please Select City.
                  </div>
                </div>

                <button type="button" (click)="selectTab(1,BasicInfo.valid)"
                  class="btn btn-primary w-100 my-2">Next</button>
              </tab>

              <tab heading="Pricing & Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value ==1">Price (in INR)</label>
                  <label *ngIf="SellRent.value ==2">Rent (in INR)</label>
                  <input type="number" class="form-control" formControlName="Price" [(ngModel)]="propertyView.Price">
                  <div class="error-block" *ngIf="Price.invalid && (nextClicked || Price.touched)">
                    Please Enter <span *ngIf="SellRent.value==1;else ShowRent">Price</span>.
                    <ng-template #ShowRent>Rent</ng-template>
                  </div>
                </div>

                <div class="form-group col-12" *ngIf="SellRent.value == 2">
                  <label>Security (in INR)</label>
                  <input type="number" class="form-control" formControlName="Security">
                </div>

                <div class="form-group col-12" *ngIf="SellRent.value == 2">
                  <label>Maintance (in INR)</label>
                  <input type="number" class="form-control" formControlName="Maintenance">
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName="BuiltArea"
                    [(ngModel)]="propertyView.BuiltArea">
                  <div class="error-block" *ngIf="BuiltArea.invalid && (nextClicked || BuiltArea.touched)">
                    Please Provide Built Area.
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName="CarpetArea">
                </div>

                <button type="button" (click)="selectTab(2,PriceInfo.valid)"
                  class="btn btn-primary w-100 my-2">Next</button>
                <button type="button" (click)="selectTab(0,true)" class="btn btn-primary w-100 my-2">Back</button>
              </tab>

              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="number" class="form-control" formControlName="Floor">
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="number" class="form-control" formControlName="TotalFloor">
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="Address">
                  <div class="error-block" *ngIf="Address.invalid && (nextClicked || Address.touched)">
                    <span>Please Provide Address.</span>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>LandMark</label>
                  <input type="text" class="form-control" formControlName="LandMark">
                </div>
                <button type="button" (click)="selectTab(3,AddressInfo.valid)"
                  class="btn btn-primary w-100 my-2">Next</button>
                <button type="button" (click)="selectTab(1,true)" class="btn btn-primary w-100 my-2">Back</button>
              </tab>

              <tab heading="Other Details" formGroupName="OtherDetailsInfo">
                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup formControlName="RTM">
                    <label class="btn btn-outline-primary m-sm-1" tabindex="0" btnRadio="1" role="button"
                      name="Yes">Yes</label>
                    <label class="btn btn-outline-primary m-sm-1" tabindex="0" btnRadio="2" role="button"
                      name="No">No</label>
                  </div>
                  <div class="error-block" *ngIf="RTM.invalid && (nextClicked || RTM.touched)">
                    <span>Please Select Yes or No.</span>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Avaialable From</p>
                  <div class="col-md-2 form-group mb-3">
                    <input type="text" class="form-control" bsDatepicker
                      [bsConfig]="{containerClass:'theme-dark-blue',dateInputFormat:'DD-MMM-YYYY'}">
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Age of Property</label>
                  <input type="text" class="form-control" formControlName="AOP">
                </div>

                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="Gated">
                    <label class="btn btn-outline-primary m-sm-1" tabindex="0" btnRadio="1" role="button"
                      name="Yes">Yes</label>
                    <label class="btn btn-outline-primary m-sm-1" tabindex="0" btnRadio="2" role="button"
                      name="No">No</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Main Entrance</p>
                  <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                    <label *ngFor="let Me of mainEntrance" [btnRadio]="Me" class="btn btn-outline-primary m-sm-1"
                      tabindex="0" name="facing">{{Me}}</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text" class="form-control" rows="6" formControlName="Description"></textarea>
                </div>

                <button type="button" (click)="selectTab(4,true)" class="btn btn-primary w-100 my-2">Next</button>
                <button type="button" (click)="selectTab(2,true)" class="btn btn-primary w-100 my-2">Back</button>
              </tab>

              <tab heading="Photo" formGroupName="PhotoInfo">
                <div class="form-control">
                  <div class="photo-control">
                    <button class="mt-5" type="file">Upload</button><br>
                    This is under construction
                  </div>
                </div>
                <button type="submit" class="btn btn-primary w-100 my-2">Save</button>
                <button type="button" (click)="selectTab(3,true)" class="btn btn-primary w-100 my-2">Back</button>
                <button type="reset" class="btn btn-primary w-100 my-2">Cancle</button>
              </tab>

            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h3>Your Property Preview</h3>
      </div>
      <div class="shadow-lg p-3 bg-white">
        <app-property-card [property]="propertyView" [hideIcon]="true"></app-property-card>
      </div>
    </div>
  </div>
</div>
